<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% load static %}

    <nav>
        <h3><a href="{% static 'portfolio/my_resume.pdf' %}" target="_blank">Resume</a></h3>
        <h3><a href="https://github.com/shibzuko" target="_blank">Github</a></h3>
        <h3><a href="https://twitter.com/shibzuko?t=ENSk1EkssF62hwk_O6LUww&s=09" target="_blank">Twitter</a></h3>
        <h2><a href="{% url 'blog:all_blog' %}" target="_blank">Blog</a></h2>
    </nav>

    <div>
        <img src="{% static 'portfolio/photo_1.webp' %}">
    </div>
    
    <div>
        <h1>Portfolio</h1>
        {{ projects }}
        <br>{% for project in projects %}

        <br>{{ project.id }}

        <br><h3>{{ project.title }}</h3>

        <br><img src="{{ project.image.url }}" height="180" width="320">

        <br><p>{{ project.description }}</p>

        {% if project.url %}
        <br><a href="{{ project.url }}">Ссылка</a>
        {% endif %}
        {% endfor %}
    </div>
</body>
</html>